

/**geader*/





/* .gnb_list_footer {
    display: flex;
    margin: auto;
    align-self: 0;
}

.Enterprise {
    display: flex;
    padding: 10px 30px;
}

.info_policy {
    display: flex;
}

h1 {
    color: white;
}

/*
tag 선택자 < class 선택자  < #id 선택자 < InStyle 선택자 
*/

/* .gnb_list {
    display: flex;
    /*고정값 주는 것 */

/* }


.footer>.inner a {
    display: flex;
}

.logo {
    display: flex;
}

.image {
    display: flex;
} */