/* footer */

.footer {
    background: white;
    /* position: fixed; */
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px; */
    bottom: 0;
    right: 0;
    color: #999;
    width: 100%;
    padding: 20px;
    /* text-align: ; */
    /* left가 기본값*/
    font-size: 14px;
    border: 1px solid #999;
}

.footer .inner {
    /* padding-top: 48px;
    padding-bottom: 48px; */
    display: flex;
    /* flex는 부모에게 줘야한다. */
    align-items: flex-start;
    /*수평정렬*/
    justify-content: space-between;
}

.btn_top {
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.copyright {
    /* margin-top:  71px; */
    padding-top: 71px;
    display: block;
}

.policy_list {
    display: flex;
    /* padding-bottom: 71px; */
}

.policy_list li, .share_list li, .share_list {
    display: inline-block;
}

.policy_list li {
    margin-right: 30px;
}

.share_title {
    font-weight: 700px;
    color: black;
}

.related_list {
    margin-bottom: 30px;
}

.share_list img {
    width: 24px;
    /* margin-top: 30px; */
    vertical-align: middle;
    /* 수직 정렬 (가로정렬)*/
    margin-left: 8px;
}